# Week 3: Verification

## Purpose

This is a crash course in basic System Verilog constructs. As some level of
exposure to Verilog is a requirement for access to the team, this lab consists
of a series of exercises that will ensure you've got the basics on lock.

If you find there is a construct or challenge you're unsure how to approach,
seek guidance from the team. Asking questions is encouraged.

---

## Setup

Fork the Lab Week 3 repo to your personal Github account and complete the
exercises in that repo. (For design log purposes, this cloned repo will be the
one you link to.)

The toolchain has already been setup for you for all the exercises. It uses
techniques you have not been introduced to yet so don't be concerned if you
don't understand all of it. You can build the simulations using the techniques
from the [Week 1 Onboarding Lab](01_cmake.md).

---
